<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>CashBook Login</title>
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="icon" type="image/x-icon" href="assets/images/favicon.svg">
    </head>

    <body>
        <div>
            <!--  -->
            {{{body}}}
        </div>
        <!-- Fill rest of view port with empty space -->
        <div id="footer-div"></div>
        <footer>
            <p>&copy; 2024 Cashbook. All Rights Reserved</p>
        </footer>
    </body>
</html>