<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>CashBook App</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" type="image/x-icon" href="assets/images/favicon.svg">
    </head>

    <body>
        <header class="fixed-navbar">
            <h1 class="text-2xl">Welcome to CashBook!</h1>
        <nav class='navbar'>
            <ul class='flex-row' id="menu-nav">
                {{#unless loggedIn}}
                    {{!-- <li class='li-inline nav-item'><a href='/'>Home</a></li>--}}
                {{/unless}}
                {{#if loggedIn}}
                    <li class='li-inline nav-item'><a href='/dashboard'>Dashboard</a></li>
                    <li class='li-inline nav-item'><a href='/transactions' id='transactions'>Transactions</a></li>
                    <li class='li-inline nav-item'><a href='/settings' id='settings'>Settings</a></li>
                    <li class='li-inline nav-item'><a href='javascript: logout()' id='logout'>Logout</a></li>
                {{/if}}
            </ul>
        </nav>
        </header>
        <div>
            {{{body}}}
        </div>
        {{!-- Fill rest of view port with empty space --}}
        <div id="footer-div"></div>
        <footer>
            <p>&copy; 2024 Cashbook. All Rights Reserved</p>
        </footer>

        {{#if loggedIn}}
            <script src='/js/logout.js'></script>
         {{/if}}
    </body>
</html>