<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>CashBook App</title>
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="icon" type="image/x-icon" href="assets/images/favicon.svg">
    </head>

    <body>
        <nav class='navbar'>
            <ul class='flex-row'>
                <li class='li-inline nav-item'><a href='/'>Home</a></li>
                {{#if loggedIn}}
                    <li class='li-inline nav-item'><a href='/dashboard'>Dashboard</a></li>
                    <li class='li-inline nav-item'><a href='#' id='transactions'>Transactions</a></li>
                    <li class='li-inline nav-item'><a href='#' id='settings'>Settings</a></li>
                    <li class='li-inline nav-item'><a href='#' id='logout'>Logout</a></li>
                {{else}}
                    <li class='li-inline nav-item'><a href='/login'>Login</a></li>
                {{/if}}
            </ul>
        </nav>
        <header>
            <h1>Welcome to CashBook!</h1>
            <p>We are a one stop shop when it comes to managing your finances! Log in or sign up now to find out more information!</p>
        </header>
        <div>
            {{{body}}}
        </div>
        {{!-- Fill rest of view port with empty space --}}
        <div id="footer-div"></div>
        <footer>
            <p>&copy; 2024 Cashbook. All Rights Reserved</p>
        </footer>

        {{#if loggedIn}}
            <script src='/js/logout.js'></script>
         {{/if}}
    </body>




</html>