<main class="container"> {{!-- Do we need the main container in each handlebar? Or is just the div container enough? --}}
    <section class="row">
        {{!-- I would like to discuss this one briefly on Monday! --}}
    </section>
</main>