<div class="card"> {{!-- Do we need the main container in each handlebar? Or is just the div container enough? --}}
    <h2>Transaction Details</h2>
    <section class="row">
        <article class="col-6">
            <p>Name: {{transaction.name}}</p>
            <p>Category: {{transaction.category}}</p>
        </article>
        <article class="col-6">
            <p>Amount: {{transaction.amount}}</p>
            <p>Date: {{!-- transaction.date not in model --}}</p>
        </article>
    </section>
    <section class="row">
        <button type="button">Add Note</button>
        {{#if transaction.notes}}
        <h2>Transaction Notes</h2>
        <ul>
            {{#each transaction.notes}}
            <li>
                <p>{{this.text}}</p>
                <button type="button">Delete</button>
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </section>
</div>