:root {
    --main-grey: #333;
    --white: #ffffff;
    --orange: #E28C0B;
    --border: #cccccc;
    --shadow: #0000001a;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
    justify-content: center; 
    align-items: center;
}

header {
    background-color: var(--main-grey);
    color: var(--white);
    padding: 10px 20px;
    text-align: center;
    width: 100%;
}

footer {
    background-color: var(--main-grey);
    color: var(--white);
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    position: relative;
    bottom: 0;
}

h2 {
    margin-top: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 50px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    padding-top: 50px;
}

.col-6 {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.col-12 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.card {
    background-color: var(--white);
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px var(--shadow);
    border-radius: 8px;
    width: 75vw;
}

#home-card {
    background-color: var(--white);
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px var(--shadow);
    border-radius: 8px;
    width: 100%;
}

.about {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: block;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid var(--border);
    border-radius: 4px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #555;
}

button#submit-transaction {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 12px;
}

button:hover {
    background-color: var(--orange) !important;
}

@media (max-width: 768px) {
    .col-6 {
        width: 100%;
    }
}

.fixed-navbar {
    position: fixed;
    top: 0;
    z-index: 999;
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 999;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 8px;
}

li:hover {
    color: rgb(226, 140, 11);
}

#menu-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.transaction-list {
    display: flex;
    flex-direction: column;
}

form {
    padding: 10 0 10 0;
}

.form-section {
    padding: 5px;
}

#history-row {
    padding-top: 10px !important;
}

.transaction-history {
    display: flex;
    flex-direction: column;
}

#trans-graph {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    padding-top: 10px;
}
